[data-background-color="green"] {
    background-color: rgb(112, 199, 56);
}

a{
    color: #2c2c2c;
}

a:hover{
    color: #70c738;
}

.btn-social{
    color: #fff;
}

a:not([href]):not([tabindex]) {
    color: #fff;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    background-color: #70c738;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #FFFFFF;
    color: #70c738;
}

.bg-primary{
    background-color: rgb(112, 199, 56) !important;
}

.section-images {
    max-height: 700px;
    padding-top: 0px;
    height: 100px;
}

.page-header[filter-color="blur"] {
    /* background: rgba(44, 44, 44, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), #ececec6b);
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), #ececec6b));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), #ececec));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), #ececec6b); */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#location{
    width: 100%;
    height: 500px;
}

.form-control:focus {
    border: 1px solid #70c738;
}

.tumbnail{
    border-radius: 5px;
}

.post-title{
    color: #615d5d;
}

.post:hover{
    text-decoration: none;
    
}

.post-img{
    height: 400px;
    width: 900px;
}

.head-space {
    height: 80px;
    max-height: 440px;
    background-color: white;
}

.post-border{
    border-style: hidden;
    background-color: #70c7382e;
}

.section-story-overview>.image-container>.image-post {
    height: 500px;
} 

.bot-font{
    font-size: 20px;
    display: inline-block;
}

.list{
    list-style-type: none;
}

.contact-us{
    display: inline-table;
    vertical-align: middle;
    margin: 15px;
}

.contact-us-icons{
    font: normal normal normal 30px/1 'Nucleo Outline';
    vertical-align: middle;
}

.section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-logo{
    max-width: 155px;
    display: inline-block;
}

.img-fluid {
    max-width: 100%;
    height: 150px;
}

.crd {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.crd > hr {
  margin-right: 0;
  margin-left: 0;
}

.crd > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.crd > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.crd-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.crd-title {
  margin-bottom: 0.75rem;
}

.crd-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.crd-text:last-child {
  margin-bottom: 0;
}

.crd-link:hover {
  text-decoration: none;
}

.crd-link + .crd-link {
  margin-left: 1.25rem;
}

.crd-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.crd-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.crd-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.crd-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.crd-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.crd-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.crd-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.crd-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.crd-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.crd-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.crd-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.crd-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.crd-deck .crd {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .crd-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .crd-deck .crd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.crd-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.crd-group > .crd {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .crd-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .crd-group > .crd {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .crd-group > .crd + .crd {
    margin-left: 0;
    border-left: 0;
  }
  .crd-group > .crd:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .crd-group > .crd:first-child .crd-img-top,
  .crd-group > .crd:first-child .crd-header {
    border-top-right-radius: 0;
  }
  .crd-group > .crd:first-child .crd-img-bottom,
  .crd-group > .crd:first-child .crd-footer {
    border-bottom-right-radius: 0;
  }
  .crd-group > .crd:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .crd-group > .crd:last-child .crd-img-top,
  .crd-group > .crd:last-child .crd-header {
    border-top-left-radius: 0;
  }
  .crd-group > .crd:last-child .crd-img-bottom,
  .crd-group > .crd:last-child .crd-footer {
    border-bottom-left-radius: 0;
  }
  .crd-group > .crd:only-child {
    border-radius: 0.25rem;
  }
  .crd-group > .crd:only-child .crd-img-top,
  .crd-group > .crd:only-child .crd-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .crd-group > .crd:only-child .crd-img-bottom,
  .crd-group > .crd:only-child .crd-footer {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .crd-group > .crd:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
  }
  .crd-group > .crd:not(:first-child):not(:last-child):not(:only-child) .crd-img-top,
  .crd-group > .crd:not(:first-child):not(:last-child):not(:only-child) .crd-img-bottom,
  .crd-group > .crd:not(:first-child):not(:last-child):not(:only-child) .crd-header,
  .crd-group > .crd:not(:first-child):not(:last-child):not(:only-child) .crd-footer {
    border-radius: 0;
  }
}

.crd-columns .crd {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .crd-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .crd-columns .crd {
    display: inline-block;
    width: 100%;
  }
}


/* Calendar */
@import url(https://fonts.googleapis.com/css?family=Muli:400, 300);

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #87b633;
    border: 1px solid #dcdcdc;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #87b633;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #87b633;
}