body{
	background-color: #ecf0f1;
}

.bg-primary{
	background-color: #e74c3c;
}

a:link{
	text-decoration: none;
}

/* Location Styles*/
#location{
	height: 600px;
	width: 100%;
}

/* Icon Style */
.icon-md{
	height: 50px;
	width: auto;
}

/* City Style*/
.city{
	padding: 10px !important;
}

/* Jumbotron Styles */
.jumbotron{
	padding: 10px;
}

/* Breadcumb Styles*/
.breadcrumb{
	background-color: #bdc3c7;
	margin-top: 20px;
	color: #ecf0f1;
}

.breadcrumb > li > a {
    padding: 0 5px;
    color: #ecf0f1;
    content: ">";
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ecf0f1;
    content: ">";
}

/* List Group */
.list-group > a > li{
	margin: -1px;
	text-decoration: none;
}
.list-group-item:second-child{
    border-radius: 4px;
}
.list-group-item:last-child{
    border-radius: 0px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #ecf0f1;
    background-color: #e74c3c;
    border-color: #c0392b;
}
.list-group > a{
	color: #34495e;
}

/* Panel Styles*/
.panel-heading{
	background-color: #e74c3c;
	color: #ecf0f1;
	border-color: #c0392b;
	height: 40px;
}

.panel-title{
	font-weight: bold;
}

/* Well Box */
.info-box{
	text-align: center;
}
.info-unit{
	text-align: right;
}

/* Footer Styles*/
#footer{
	background-color: #2c3e50;
	color: #ecf0f1;
	height: 60px;
	text-align: center;
	padding: 20px;
}
#footer > a{
	color: #e74c3c;
}

/* Header Styles */
#header{
	background-color: #2c3e50;
	color: #ecf0f1;
	padding-bottom: 10px;
}

/* Pagination Styles */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination a{
	margin: 0 4px;
	border-radius: 50px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #c0392b;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #c0392b;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #c0392b;
  background-color: #eee;
  border-color: #c0392b;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #e74c3c;
  border-color: #c0392b;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c0392b;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #c0392b;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Navbar Styles */
.navbar {
	min-height: 33px !important;
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-nav > li > a, .navbar-brand{
	padding-top: 6px !important;
	padding-bottom: 0px !important;
	height: 33px;
}
.navbar-default {
	background-color: #e74c3c;
	border-color: #c0392b;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffbbbc;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffbbbc;
	background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffbbbc;
	background-color: #c0392b;
}
.navbar-default .navbar-toggle {
	border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ffbbbc;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffbbbc;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffbbbc;
		background-color: #c0392b;
	}
}
